.superwrapper {
  max-width: 2300px;
  margin: 0 auto;
}

h1 {
  font-family: 'Butterfly Kids', cursive;
  text-align: center;
  color: rgb(255, 208, 255);
  font-size: 90px;
  margin-bottom: 0;
  font-weight: lighter;
  font-size: 130px;

}

#grid-text {
  color: rgb(133, 32, 133);
  font-size: 80px;
  font-weight: bolder;
}

.wrapper {
  margin: 0 auto;
  height: 1200px;
  max-width: 2300px;
  background-image: url(../images/WallpaperDog-5509276.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;


}

